<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GPT-Engineer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home_page') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('aboutus_page') }}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('gettingstarted_page') }}">Getting Started</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('documentation_page') }}">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('blog_page') }}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('community_page') }}">Community</a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

