# See https://help.github.com/ignore-files/ for more about ignoring files.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.history/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
.env
.env.sh
venv/
ENV/
venv_test_installation/

# IDE-specific files
.vscode/
.idea/

# Compiled Python modules
*.pyc
*.pyo
*.pyd

# Python testing
.pytest_cache/
.ruff_cache/
.coverage
.mypy_cache/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# this application's specific files
archive

# any log file
*log.txt
todo
scratchpad

# Pyenv
.python-version

.gpte_consent

# projects folder apart from default prompt

projects
!projects/example/prompt
!projects/example-improve

# docs

docs/_build
docs/__init__
docs/ai
docs/chat_to_files
docs/collect
docs/learning
docs/main
docs/steps/
docs/db
docs/db/

# coding assistants
.aider*
.gpteng

# webapp specific
webapp/node_modules
webapp/package-lock.json

webapp/.next/

.langchain.db

# TODO files
/!todo*
