aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
black==23.3.0
certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.1.0
click==8.1.3
distlib==0.3.6
dotenv==0.0.5
filelock==3.12.2
frozenlist==1.3.3
identify==2.5.24
idna==3.4
multidict==6.0.4
mypy-extensions==1.0.0
nodeenv==1.8.0
openai==0.27.8
packaging==23.1
pathspec==0.11.1
platformdirs==3.5.3
pre-commit==3.3.3
python-dotenv==1.0.0
PyYAML==6.0
requests==2.31.0
ruff==0.0.272
tqdm==4.65.0
typer==0.9.0
typing_extensions==4.6.3
urllib3==2.0.3
virtualenv==20.23.1
yarl==1.9.2
